<?xml version="1.0" ?>
<!--TODO: Search Logic, info box content, vocab, date and time logic -->
<!--@POSTPROC: ./proc/post.sh-->
<module>
  <Login f="nodata">
    <User_login>
      <Users t="dropdown" f="user nocertainty noannotation"/>
      <Log_in  t="button" ll="General"/>
      <Sign_up t="button" l="signup"/>
    </User_login>
  </Login>

  <General f="nodata">
    <General>
      <Start_Trip l="Trip"/>
    </General>
    <search/>
  </General>

  <Trip>
    <fmt>{{Date}} {{Subregion}}</fmt>
    <Trip_data>
      <author f="nocertainty noannotation">
        User
      </author>
      <cols>
        <Date f="readonly"/>
        <Time f="readonly"/>
      </cols>
      <State>
        <opts>
          <opt>NSW</opt>
          <opt>VIC</opt>
          <opt>QLD</opt>
          <opt>SA</opt>
          <opt>WA</opt>
          <opt>TAS</opt>
          <opt>NT</opt>
        </opts>
      </State>
      <Region>
        <opts>
          <opt>NSW
            <opt>Sydney region</opt>
            <opt>South Coast</opt>
            <opt>North Coast</opt>
          </opt>
          <opt>VIC
            <opt>Port Phillip Bay</opt>
            <opt>Westernport Bay</opt>
            <opt>Western</opt>
            <opt>Eastern</opt>
          </opt>
          <opt>QLD
            <opt>South-East</opt>
            <opt>Central</opt>
            <opt>Far North</opt>
          </opt>
          <opt>SA
            <opt>Gulf St Vincent</opt>
            <opt>Spencer Gulf</opt>
            <opt>Eastern</opt>
            <opt>Western</opt>
          </opt>
          <opt>WA
            <opt>Perth region</opt>
            <opt>South-East</opt>
            <opt>South-West</opt>
            <opt>Coral Coast</opt>
            <opt>Pilbara</opt>
            <opt>Kimberley</opt>
          </opt>
          <opt>TAS
            <opt>Hobart region</opt>
            <opt>East</opt>
            <opt>West</opt>
            <opt>North</opt>
          </opt>
          <opt>NT
            <opt>Darwin region</opt>
            <opt>Arnhem Land</opt>
            <opt>Katherine</opt>
          </opt>
        </opts>
      </Region>
      <Subregion>
        <opts>
          <opt>Sydney region
            <opt>Sydney Harbour</opt>
            <opt>Parramatta River</opt>
            <opt>Georges River</opt>
            <opt>Port Hacking</opt>
            <opt>Hawkesbury River</opt>
            <opt>Other</opt>
          </opt>
          <opt>South Coast
            <opt>Merimbula/Eden</opt>
            <opt>Jervis Bay</opt>
            <opt>Shoalhaven River</opt>
            <opt>Other</opt>
          </opt>
          <opt>North Coast
            <opt>Port Stephens</opt>
            <opt>Port Macquarie</opt>
            <opt>Other</opt>
          </opt>
        </opts>
      </Subregion>
      <gps/>
    </Trip_data>
    <Shoreline_attributes>
      <Natural_habitat_types t="checkbox">
        <desc>Identify the natural habitat type(s) present at this location</desc>
        <opts>
          <opt>Mudflat</opt>
          <opt>Sandy beach</opt>
          <opt>Rocky shore</opt>
          <opt>Saltmarsh</opt>
          <opt>Mangroves</opt>
        </opts>
      </Natural_habitat_types>
      <Artificial_habitat_types t="checkbox">
        <desc>Identify the artificial habitat type(s) present at this location</desc>
        <opts>
          <opt>Concrete</opt>
          <opt>Seawall</opt>
          <opt>Riprap (large rocks)</opt>
          <opt>Gravel</opt>
          <opt>Wooden pier</opt>
        </opts>
      </Artificial_habitat_types>
      <Dominant_habitat>
        <desc>Note the habitat type that is dominant (takes up the most area) at this location</desc>
      </Dominant_habitat>
      <Habitat_photo t="camera">
        <desc>Take a photo of the dominant habitat type</desc>
      </Habitat_photo>
      <Animals_present t="checkbox">
        <desc>Scan the dominant habitat type and check any types of animals that you can see easily. Please enter further details for any aggregations of attached shellfish.</desc>
        <opts>
          <opt>Attached shellfish (oysters, mussels)</opt>
          <opt>Other shellfish (clams, pipis)</opt>
          <opt>Seabirds</opt>
          <opt>Shorebirds (waders)</opt>
          <opt>Fish</opt>
          <opt>Crabs</opt>
          <opt>Worms</opt>
        </opts>
      </Animals_present>
      <Shoreline_slope>
        <opts>
          <opt>Vertical or near-vertical</opt>
          <opt>Sloping &lt;45 degrees</opt>
          <opt>Sloping &gt;45 degrees</opt>
          <opt>Flat</opt>
        </opts>
      </Shoreline_slope>
    </Shoreline_attributes>
    <Aggregate f="noscroll">
      <Add_Shellfish_Aggregation t="button" f="nocertainty noannotation" lc="Aggregate"/>
      <Existing_Aggregations t="list" f="nocertainty noannotation" ec="Aggregate"/>
    </Aggregate>
  </Trip>

  <Aggregate>
    <fmt>{{Date}} {{Subregion}} {{Shellfish_species}}</fmt>
    <Shellfish>
      <cols>
        <Date f="readonly"/>
        <Time f="readonly"/>
      </cols>
      <Subregion f="id nocertainty noannotation readonly" i="Trip/Trip_data/Subregion"/>
      <Shellfish_type>
        <desc>What type of attached shellfish have you found - oysters or mussels?</desc>
        <opts>
          <opt>Oysters</opt>
          <opt>Mussels</opt>
        </opts>
      </Shellfish_type>
      <Shellfish_species t="picture">
        <desc>Choose your species from the following list. Species can be hard to tell apart so please also upload a photo for validation</desc>
        <opts>
          <opt p="gallery/SRO_AusMuseum.jpg">
            Sydney Rock Oyster (Saccostrea glomerata)
          </opt>
          <opt p="gallery/Crassostrea_gigas_wikipedia.jpg">
            Pacific Oyster (Crassostrea gigas)
          </opt>
          <opt p="gallery/blue_mussel_diggles.jpg">
            Blue Mussel (Mytilus edulis)
          </opt>
          <opt p="gallery/o_angasi_alleway.jpg">
            Mud Oyster (Ostrea angasi)
          </opt>
          <opt p="gallery/hairy_mussel.jpg">
            Hairy Mussel (Trichomya hirsuta)
          </opt>
          <opt p="gallery/leaf_oyster.jpg">
            Leaf Oyster (Isognomon ephippium)
          </opt>
          <opt p="gallery/p_albina.jpg">
            Pearl Oyster (Pinctada albina sugillata)
          </opt>
          <opt p="gallery/Saccostrea_cucullata.jpg">
            Coral-Rock Oyster (Saccostrea culcullata)
          </opt>
          <opt p="gallery/d_diggles_s_echinata.jpg">
            Blacklip Oyster (Saccostrea echinata)
          </opt>
        </opts>
      </Shellfish_species>
      <Shellfish_Photo t="camera">
        <desc>Take a close-up photo of the shellfish</desc>
      </Shellfish_Photo>
      <Primary_substrate f="htmldesc">
        <desc>
          <![CDATA[
            <i>Description:</i>
            <br>
            <div>
                <p>Identify the surface to which the shellfish is directly attached. (In this example, the oysters are directly attached to mangrove roots but the surrouding surface is mud)
              </p>
                <div>
                  <img style="width:100%" src="files/data/gallery/oysters_mangroves.jpg" alt="files/data/gallery/oysters_mangroves.jpg"/>
                </div>
            </div>
          ]]>
            </desc>
            <opts>
              <opt>Natural
                <desc><![CDATA[

                  ]]></desc>
                <opt>Mudflat
                  <desc><![CDATA[

                    ]]></desc>
                </opt>
                <opt>Sandy beach
                  <desc><![CDATA[

                    ]]></desc>
                </opt>
                <opt>Rocky shore
                  <desc><![CDATA[

                    ]]></desc>
                </opt>
                <opt>Saltmarsh
                  <desc><![CDATA[

                    ]]></desc>
                </opt>
                <opt>Mangroves
                  <desc><![CDATA[

                    ]]></desc>
                </opt>
              </opt>
              <opt>Artificial
                <desc><![CDATA[

                  ]]></desc>
                <opt>Concrete
                  <desc><![CDATA[

                    ]]></desc>
                </opt>
                <opt>Seawall
                  <desc><![CDATA[

                    ]]></desc>
                </opt>
                <opt>Rocks
                  <desc><![CDATA[

                    ]]></desc>
                </opt>
                <opt>Gravel
                  <desc><![CDATA[

                    ]]></desc>
                </opt>
                <opt>Wooden pier
                  <desc><![CDATA[

                    ]]></desc>
                </opt>
              </opt>
            </opts>
      </Primary_substrate>
      <Surrounding_substrate f="htmldesc">
        <desc>
          <![CDATA[
            <i>Description:</i>
            <br>
            <div>
                <p>Identify the surface surrounding the shellfish aggregation. (In this example, the musselfs are attached to rock and the surrounding surface is also rock)
              </p>
                <div>
                  <img style="width:100%" src="files/data/gallery/blue_mussel_clump_wikipedia.jpg" alt="files/data/gallery/blue_mussel_clump_wikipedia.jpg"/>
                </div>
            </div>
          ]]>
          </desc>
        <opts>
          <opt>Natural
            <desc><![CDATA[

              ]]></desc>
            <opt>Mudflat
              <desc><![CDATA[

                ]]></desc>
            </opt>
            <opt>Sandy beach
              <desc><![CDATA[

                ]]></desc>
            </opt>
            <opt>Rocky shore
              <desc><![CDATA[

                ]]></desc>
            </opt>
            <opt>Saltmarsh
              <desc><![CDATA[

                ]]></desc>
            </opt>
            <opt>Mangroves
              <desc><![CDATA[

                ]]></desc>
            </opt>
          </opt>
          <opt>Artificial
            <desc><![CDATA[

              ]]></desc>
            <opt>Concrete
              <desc><![CDATA[

                ]]></desc>
            </opt>
            <opt>Seawall
              <desc><![CDATA[

                ]]></desc>
            </opt>
            <opt>Rocks
              <desc><![CDATA[

                ]]></desc>
            </opt>
            <opt>Gravel
              <desc><![CDATA[

                ]]></desc>
            </opt>
            <opt>Wooden pier
              <desc><![CDATA[

                ]]></desc>
            </opt>
          </opt>
        </opts>
      </Surrounding_substrate>
      <Shellfish_status t="radio" f="htmldesc">
        <desc>
          <![CDATA[
            <i>Description:</i>
            <br>
            <div>
                <p>Shellfish that are dead will have gaping shells that remain open if tapped. The photo shows a closed, live oyster (left) next to a gaping, dead oyster (right)</p>
                <div>
                  <img style="width:100%" src="files/data/gallery/alive_dead.jpg" alt="files/data/gallery/alive_dead.jpg"/>
                </div>
            </div>
          ]]>
        </desc>
          <opts>
          <opt>Mostly alive
            <desc><![CDATA[

              ]]></desc>
          </opt>
          <opt>Mostly dead
            <desc><![CDATA[

              ]]></desc>
          </opt>
        </opts>
      </Shellfish_status>
    </Shellfish>
    <Aggregation>
      <Distance_to_water_in_m t="radio">
        Distance to water (m)
        <desc>How far out of the water is the aggregation? Report in metres.</desc>
        <opts>
          <opt>Under water</opt>
          <opt>&gt;1m</opt>
          <opt>1-5m</opt>
          <opt>&gt;5m</opt>
        </opts>
      </Distance_to_water_in_m>
      <Size_of_aggregation t="picture">
        <desc>How many shellfish are in the aggregation?</desc>
        <opts>
          <opt p="gallery/oyster_small_agg.jpg">
            Small (&lt;10 individuals)
          </opt>
          <opt p="gallery/oyster_agg_1m.jpg">
            Medium (10-50)
          </opt>
          <opt p="gallery/large_aggregation.jpg">
            Large (&gt;50)
          </opt>
        </opts>
      </Size_of_aggregation>
      <Density_of_aggregation>
        <desc>Choose an area where the shellfish are densely packed. Estimate the number of shellfish that would cover the area provided by your mobile device. Use this number to categorise the density.</desc>
        <opts>
          <opt>Sparse (&lt;3)</opt>
          <opt>Moderately Sparse (3-5)</opt>
          <opt>Dense (6-9)</opt>
          <opt>Very dense (&gt;10)</opt>
        </opts>
      </Density_of_aggregation>
      <Aggregation_Photos t="camera">
        <desc>Take up to 5 photos of the aggregation from different positions. Keep your device at the same distance from the aggregation each time. Note this distance (in paces or metres) in the annotation box.</desc>
      </Aggregation_Photos>
    </Aggregation>
  </Aggregate>
  <logic><![CDATA[
    <!--@SOURCE: logic/date_time.bsh-->
    <!--@SOURCE: logic/custom_dropdown_for_search.bsh-->
  ]]></logic>
</module>
